<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="/style.css">
        <title>Document</title>
      </head>
<body>
    <!-- Navigation Bar -->
    <header class="py-3">
        <div class="container-lg">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">Product Management</a>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/register">Sign Up</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <!-- Banner Section -->
    <section class="banner text-center py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="mb-4">Welcome to our Product Management System</h1>
                    <h6 class="mb-4">
                        Experience the future of product management. Say goodbye to the chaos of spreadsheets and hello to the elegance of streamlined organization. Elevate your business with the Product Management System that's transforming industries.
                        <br><br>
                        Are you ready to embark on a journey of efficiency, growth, and success? Get started today with our Product Management System and watch your business thrive.
                    </h6>
                    <a href="/login" class="btn btn-primary w-auto d-inline-block">Get Started</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer Section -->
    <footer class="bg-dark text-white py-3">
        <div class="container text-center">
            <p class="mb-0">&copy; 2023 Product Management Dashboard</p>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
