<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
  <title>Register</title>
</head>

<body>
  <section class="py-5">
    <div class="container-lg p-3 py-4 bg-white shadow-sm rounded-3 custom-container">
      <h2 class="mb-4 text-center">Register</h2>
      <form action="/register" method="post" class="row">
        <div class="col-md-6 form-group">
          <label for="username">Username</label>
          <input type="text" id="username" name="u_name" class="form-control" required>
        </div>
        <div class="col-md-6 form-group">
          <label for="usermail">Email</label>
          <input type="email" id="usermail" name="u_mail" class="form-control" required>
        </div>
        <div class="col-md-6 form-group">
          <label for="password">Password</label>
          <div class="password-field position-relative">
            <input type="password" id="password" name="u_password" class="password-input form-control" aria-label="Password" aria-describedby="toggle-password" required>
            <button class="toggle-password-button btn position-absolute top-0 end-0 h-100 border-0" type="button">
              <i class="fa-solid fa-eye"></i>
            </button>
          </div>
        </div>
        <div class="col-md-6 form-group">
          <label for="role">Role</label>
          <select name="r_id" id="" class="form-control">
            <% roles.forEach( (role)=> { %>
              <option value="<%= role.r_id  %>">
                <%= role.roles %>
              </option> 
              <% }) %>
          </select>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary w-auto d-block mx-auto mb-3">Register</button>
          <a href="/login" class="text-decoration-none d-inline-block text-capitalize">I already have an account</a>
        </div>
      </form>
    </div>
  </section>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/script.js"></script>
</body>

</html>